@import "tailwindcss";


:root {
  color-scheme: light dark;

  --background: #ffffff;
  --foreground: #000000;

  --white: #ffffff;
  --black: #000000;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --secondary: #000000;
  --secondary-foreground: #ffffff;

  --border: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;

  --primary: #000000;
  --primary-foreground: #ffffff;

  --secondary: #ffffff;
  --secondary-foreground: #000000;

  --border: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-border: var(--border);
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  *,
  ::before,
  ::after {
    border-color: var(--border);
    box-sizing: border-box;
  }

  nav {
    height: 100px;
    background-color: var(--white);
    color: var(--black);
  }
}


* {
  font-family: Aquire, Nasalization, sans-serif;
}

.toast {
  z-index: 100;
  min-width: 200px;
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
}